@import './common';

:root {
  --primary-text-color: #{$primary-text-color};
  --secondary-text-color: #{$secondary-text-color};
  --tertiary-text-color: #{$tertiary-text-color};
  --quaternary-text-color: #{$quaternary-text-color};
  --title-text-color: #{$title-text-color};
  --title-secondary-text-color: #{$title-secondary-text-color};
  --accent-color: #{$accent-color};
  --hero-bg-color: #{$hero-bg-color};
  --primary-bg-color: #{$primary-bg-color};
  --secondary-bg-color: #{$secondary-bg-color};
  --icon-color: #{$icon-color};
  --sm-icon-bg-color: #{$sm-icon-bg-color};
}

footer {
  width: 100%;
  height: 480px;
  position: relative;
  background: #fff5f6;

  .footer_title {
    position: absolute;
    width: 232px;
    height: 42px;
    left: 22px;
    bottom: 327px;
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffa5ba;
  }

  .footer_title_2 {
    position: absolute;
    width: 200px;
    height: 76px;
    left: 20px;
    bottom: 235px;
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .redes {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    gap: 28px;
    bottom: 149px;
    list-style: none;
    width: 154px;
    height: 32px;
    right: 20px;
    padding: 0;
    margin-top: 40px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .contact {
    display: flex;
    list-style: none;
    position: absolute;
    width: 230px;
    height: 22px;
    right: 20px;
    bottom: 101px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    justify-content: right;
    padding: 0;
    margin-top: 40px;

    .contact_us {
      color: #000000;
    }

    .contact_number {
      color: #d41443;
      margin-left: 3px;
    }
  }

  .line {
    position: absolute;
    width: 320px;
    height: 0px;
    left: 0px;
    border: 1px solid #e1e1e1;
    bottom: 61px;
  }

  .rights {
    position: absolute;
    width: 100%;
    height: 42px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    color: #907e82;
    bottom: 3px;
    list-style: none;
    padding: 0;
  }

  @media screen and (min-width: 700px) {
    height: 269px;

    .line {
      width: 700px;
      height: 0px;
      left: 0px;
      bottom: 30px;
    }

    .rights {
      width: 700px;
      bottom: 2px;
      display: flex;
      height: 20px;
      margin: 0;
      justify-content: center;
    }

    .contact {
      right: 20px;
      bottom: 95px;
    }

    .footer_title {
      bottom: 196px;
    }

    .footer_title_2 {
      bottom: 100px;
    }
  }

  @media screen and (min-width: 1200px) {
    height: 334px;

    .line {
      width: 1200px;
      height: 0px;
      left: 0px;
      bottom: 30px;
    }

    .rights {
      width: 100%;
    }

    .footer_title {
      width: 472px;
      height: 34px;
      bottom: 179px;
      font-size: 30px;
      line-height: 34px;
      letter-spacing: 0.04em;
    }

    .footer_title_2 {
      width: 480px;
      height: 66px;
      font-size: 58px;
      line-height: 66px;
      letter-spacing: 0.06em;
    }

    .contact {
      width: 719px;
      height: 30px;
      font-size: 16px;
      bottom: 97px;
    }

    svg {
      width: 34px;
      height: 34px;
    }

    .redes {
      flex-wrap: wrap;
      gap: 25px;
      bottom: 149px;
    }
  }
}
