footer {
  width: 100%;
  background: #fff5f6;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 60px;
    &::before {
      position: absolute;
      content: ' ';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e1e1e1;
      bottom: 1px;
    }
  }

  .footer__column {
    display: flex;
    flex-direction: column;
  }

  .footer__column--right {
    align-items: flex-end;
    gap: 40px;
  }

  .footer__column--left {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
  }

  .footer__title {
    width: 232px;
    margin: 0;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffa5ba;
    text-align: left;
  }

  .footer__title--2 {
    width: 200px;
    margin: 0;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    text-align: left;
  }
  .redes {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    width: 154px;
    height: 32px;
    margin-top: 40px;
  }
  .redes__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $sm-icon-bg-color;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    cursor: pointer;
    border-style: none;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
      background-color: $accent-color;
    }
  }

  .redes__icon {
    fill: white;
  }

  .contact {
    display: flex;
    list-style: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.14;
    justify-content: right;

    .contact_us {
      color: #000000;
    }

    .contact__number {
      color: $title-text-color;
      margin-left: 3px;
    }
  }

  .rights {
    width: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #907e82;
    list-style: none;
    padding: 7px 0;
  }
  @media screen and (min-width: 768px) {
    .rights {
      width: 700px;
      display: flex;
      height: 20px;
      justify-content: center;
    }
    .footer__title {
      width: 100%;
    }
    .footer__title--2 {
      width: 100%;
    }
    .footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  @media screen and (min-width: 1200px) {
    .rights {
      width: 100%;
    }
    .footer__title {
      width: 100%;
      font-size: 30px;
      line-height: 1.14;
    }
    .footer__title--2 {
      width: 100%;
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }
    .contact {
      width: 719px;
      height: 30px;
    }
    .redes {
      flex-wrap: wrap;
      gap: 25px;
    }
  }
}
