.tradition {
  background-color: $secondary-bg-color;

  @media screen and (min-width: 1200px) {
    background-image: url('../images/sectionbg1.png');
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__subtitle {
    color: $quaternary-text-color;
    padding-top: 60px;
    margin: 30px 0 16px;
    font-size: 26px;
    transition: all 0.5s ease-in-out;
    &:hover {
      font-size: 35px;
      letter-spacing: 15px;
    }
  }
  &__title {
    font-size: 58px;
    margin: 0;
    transition: all 0.5s ease-in-out;

    &:hover {
      font-size: 65px;
      letter-spacing: 15px;
    }
  }

  &__content {
    display: flex;
    margin-bottom: 60px;
    @media screen and (min-width: 320px) {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__img {
    @media screen and (min-width: 320px) {
      width: 280px;
    }

    @media screen and (min-width: 768px) {
      width: 336px;
    }

    @media screen and (min-width: 1200px) {
      width: 500px;
    }

    width: 500px;
    transition: transform 1s ease-in-out;
    &:hover {
      transform: rotate(45deg);
    }
  }

  &__text {
    @media screen and (min-width: 320px) {
      width: 220px;
    }
    @media screen and (min-width: 768px) {
      width: 334px;
    }
    @media screen and (min-width: 1200px) {
      width: 463px;
    }

    line-height: 1.2;
  }
  &__text-one {
    line-height: 28.16px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 32px;
  }
  &__text-two {
    line-height: 27.16px;
    font-weight: 500;
    color: $tertiary-text-color;
  }
  .text-three {
    display: block;
    margin-top: 34px;
  }
  &__button {
    width: 176px;
    height: 44px;
    border-radius: 522px;
    background-color: white;
    text-align: center;
    margin-top: 40px;
    /* margin: auto; */
    color: $title-text-color;
    display: inline-block;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.numbers {
  &__icons {
    display: flex;
    align-items: center;
  }

  /* Aplica la animación a la clase .rotate */

  &__cards {
    display: flex;

    @media screen and (min-width: 320px) {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__card {
    animation-play-state: initial;
    @media screen and (min-width: 320px) {
      max-width: 230px;
    }

    @media screen and (min-width: 768px) {
      max-width: 180px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 288px;
    }
  }
  @keyframes rotate365 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(365deg);
    }
  }

  /* Aplica la animación a la clase .rotate cuando el cursor esté sobre .numbers__cards */
  &__card:hover {
    animation: rotate365 2s infinite;
  }

  &__img {
    width: 33px;
  }
  &__img {
    animation: roll 2.5s infinite;
  }

  @keyframes roll {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes roll {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__number {
    text-align: initial;
    font-size: 58px;
  }
  &__text {
    font-weight: 700;
  }
}
