@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
​body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.16px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000;
}

​body h1,
body h2,
body h3 {
  color: #d41443;
  font-family: "Titan One", cursive;
  font-weight: 400;
  text-align: center;
}

​body h1 {
  font-size: 58px;
}

​body h2 {
  font-size: 30px;
}

​body h3 {
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

​.container {
  width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

​.section {
  padding: 60px 16px;
}

@media (max-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 498px) {
  .container {
    width: 480px;
  }
}
.header {
  position: relative;
  background: linear-gradient(150deg, #ffb8ca, #ae586e, #a33752);
  background-size: 400% 300%;
  animation: fondo 6s ease-in infinite alternate-reverse;
  z-index: 20;
}
.header .header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.seccion {
  width: 100%;
  height: 300px;
  background-color: black;
}

@keyframes fondo {
  0% {
    background-color: #ffb8ca;
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
    background-color: #ae586e;
  }
  100% {
    background-position: 0% 50%;
    background-color: #a33752;
  }
}
.header__nav .header__menu {
  width: 540px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}
@media (max-width: 768px) {
  .header__nav .header__menu {
    display: none;
  }
}
.header__nav .header__menu--item {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav .header__menu--item:hover {
  color: #d41443;
}
.header__nav .header__menu--button {
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 159px;
  height: 44px;
  border-radius: 22px;
  border-color: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav .header__menu--button:hover {
  color: #d41443;
  background-color: #e5e5e5;
}
@media (max-width: 498px) {
  .header__nav .header__menu--button {
    display: none;
  }
}

.header__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 25px;
}
.header__main .header__tittle {
  width: 277px;
  font-size: 40px;
  line-height: 44px;
  font-family: "Titan One";
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.header__main .header__tittle--pink {
  color: #d41443;
  font-size: 58px;
}
@media (max-width: 768px) {
  .header__main .header__tittle {
    font-size: 22px;
    width: 200px;
  }
}
@media (max-width: 768px) {
  .header__main .header__tittle--pink {
    font-size: 34px;
  }
}
@media (max-width: 498px) {
  .header__main .header__tittle {
    font-size: 37px;
    width: 240px;
    z-index: 1;
    position: relative;
  }
}
@media (max-width: 498px) {
  .header__main .header__tittle--pink {
    font-size: 48px;
  }
}
.header__main .header__button {
  display: flex;
  gap: 15px;
}
@media (max-width: 768px) {
  .header__main .header__button {
    gap: 8px;
  }
}
@media (max-width: 498px) {
  .header__main .header__button {
    position: relative;
    z-index: 6;
  }
}
.header__main .container__text {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__main .header__text {
  width: 200px;
  height: 78px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .header__main .header__text {
    font-size: 8px;
    width: 142px;
  }
}
@media (max-width: 498px) {
  .header__main .header__text {
    display: none;
  }
}
.header__main .header__milk {
  width: 213px;
  height: 216px;
  animation: fondo;
}
@media (max-width: 768px) {
  .header__main .header__milk {
    width: 152px;
    height: 154px;
  }
}
@media (max-width: 498px) {
  .header__main .header__milk {
    display: none;
  }
}

@media (max-width: 498px) {
  .header__main {
    padding-bottom: 158px;
  }
}
.header__button .header__tittle--button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-radius: 20px;
  border-color: transparent;
  width: 107px;
  height: 40px;
}
@media (max-width: 768px) {
  .header__button .header__tittle--button {
    width: 82.8px;
    height: 24px;
    font-size: 8px;
  }
}
.header__button .header__button--gray {
  color: #d41443;
  background-color: #ffffff;
  width: 138px;
  height: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.header__button .header__button--gray:hover {
  color: #d41443;
  background-color: #e5e5e5;
}
@media (max-width: 768px) {
  .header__button .header__button--gray {
    width: 82.8px;
    height: 24px;
  }
}
.header__button .header__button--pink {
  color: #ffffff;
  background-color: #d41443;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__button {
    gap: 8px;
  }
}
.header__main__items {
  height: 280px;
  padding-top: 40px;
  z-index: 11;
}
.header__main__items .header__item {
  height: 110px;
}

@media (max-width: 498px) {
  .header__main__items {
    display: none;
  }
}
.header__item .header__number {
  color: #d41342;
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 700px;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 768px) {
  .header__item .header__number {
    font-size: 28px;
  }
}
.header__item .header__span {
  width: 35px;
  height: 18px;
  font-weight: 400;
  font-size: 14px;
  font-family: DM Sans;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 768px) {
  .header__item .header__span {
    font-size: 8px;
  }
}

.header__generics .header__circle__pink {
  color: rgb(255, 165, 186);
  position: absolute;
  top: 54px;
  left: 500px;
  z-index: 1;
}
@media (max-width: 768px) {
  .header__generics .header__circle__pink {
    width: 335px;
    height: 333px;
    position: absolute;
    top: 57px;
    left: 292px;
  }
}
@media (max-width: 498px) {
  .header__generics .header__circle__pink {
    width: 346px;
    height: 344px;
    top: 57px;
    left: 133px;
    z-index: 0;
  }
}
.header__generics .header__circle__first {
  fill: #ffffff;
  position: absolute;
  top: 144px;
  right: 16px;
}
@media (max-width: 768px) {
  .header__generics .header__circle__first {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 498px) {
  .header__generics .header__circle__first {
    display: none;
  }
}
.header__generics .header__circle__second {
  fill: #ffffff;
  position: absolute;
  top: 250px;
  right: 16px;
}
@media (max-width: 768px) {
  .header__generics .header__circle__second {
    top: 258px;
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 498px) {
  .header__generics .header__circle__second {
    display: none;
  }
}
.header__generics .header__cream {
  width: 236px;
  height: 514px;
  position: absolute;
  top: 80px;
  left: 620px;
  background-color: transparent;
  z-index: 1;
}
@media (max-width: 768px) {
  .header__generics .header__cream {
    width: 168px;
    height: 420px;
    position: absolute;
    top: 65px;
    left: 360px;
  }
}
@media (max-width: 498px) {
  .header__generics .header__cream {
    width: 171px;
    height: 410px;
    left: 200px;
    top: 78px;
    z-index: 0;
  }
}
.header__generics .header__woman {
  width: 304px;
  height: 231px;
  bottom: 0px;
  right: 20px;
  position: absolute;
  z-index: 10;
  animation: fondo;
}
@media (max-width: 768px) {
  .header__generics .header__woman {
    width: 190px;
    height: 150px;
  }
}
@media (max-width: 498px) {
  .header__generics .header__woman {
    display: none;
  }
}
.header__generics .header__arrow {
  width: 26px;
  height: 26px;
  bottom: 63px;
  left: 258px;
  position: absolute;
  animation: fondo;
}
@media (max-width: 768px) {
  .header__generics .header__arrow {
    width: 18px;
    height: 18px;
    top: 404px;
    left: 196px;
  }
}
@media (max-width: 498px) {
  .header__generics .header__arrow {
    display: none;
  }
}

.header__circles {
  position: absolute;
  top: 0px;
  width: 1200px;
  height: 640px;
  overflow: hidden;
  z-index: 0;
}
.header__circles .header__circle {
  fill: rgba(255, 255, 255, 0.5);
}

@media (max-width: 780px) {
  .header__circles {
    width: 750px;
  }
}
@media (max-width: 498px) {
  .header__circles {
    width: 480px;
  }
}
.header__circle .header__circle__one {
  position: absolute;
  z-index: 0;
  left: 0px;
  animation: animarcircles 7s linear 1200ms infinite;
}
.header__circle .header__circle__two {
  position: absolute;
  z-index: 0;
  left: 130px;
  animation: animarcircles 9s linear 1200ms infinite;
}
.header__circle .header__circle__three {
  position: absolute;
  z-index: 0;
  left: 180px;
  animation: animarcircles 6s linear 1200ms infinite;
}
.header__circle .header__circle__four {
  position: absolute;
  z-index: 0;
  left: 220px;
  animation: animarcircles 8s linear 1200ms infinite;
}
.header__circle .header__circle__five {
  position: absolute;
  left: 360px;
  z-index: 0;
  animation: animarcircles 7s linear 1200ms infinite;
}
.header__circle .header__circle__six {
  position: absolute;
  left: 400px;
  z-index: 0;
  animation: animarcircles 8s linear 1200ms infinite;
}
.header__circle .header__circle__seven {
  position: absolute;
  left: 600px;
  z-index: 0;
  animation: animarcircles 6s linear 1200ms infinite;
}
.header__circle .header__circle__eight {
  position: absolute;
  left: 690px;
  z-index: 0;
  animation: animarcircles 7s linear 1200ms infinite;
}
.header__circle .header__circle__nine {
  position: absolute;
  left: 740px;
  z-index: 0;
  animation: animarcircles 8s linear 1200ms infinite;
}
.header__circle .header__circle__ten {
  position: absolute;
  left: 900px;
  z-index: 0;
  animation: animarcircles 6s linear 1200ms infinite;
}
.header__circle .header__circle__eleven {
  position: absolute;
  left: 1000px;
  z-index: 0;
  animation: animarcircles 7s linear 1200ms infinite;
}
.header__circle .header__circle__twelve {
  position: absolute;
  left: 1090px;
  z-index: 0;
  animation: animarcircles 9s linear 1200ms infinite;
}
.header__circle .header__circle__thirteen {
  position: absolute;
  left: 1140px;
  z-index: 0;
  animation: animarcircles 8s linear 1200ms infinite;
}
.header__circle .header__circle__fourteen {
  position: absolute;
  left: 750px;
  z-index: 0;
  animation: animarcircles 12s linear 1200ms infinite;
}
.header__circle .header__circle__fifteen {
  position: absolute;
  left: 1000px;
  z-index: 0;
  animation: animarcircles 12s linear 1200ms infinite;
}
.header__circle .header__circle__sixteen {
  position: absolute;
  left: 250px;
  z-index: 0;
  animation: animarcircles 12s linear 1200ms infinite;
}

@keyframes animarcircles {
  0% {
    transform: translateY(640px);
  }
  20% {
    margin-left: 40px;
  }
  60% {
    margin-right: 90px;
  }
  100% {
    transform: translateY(-680px);
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: #d41342;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 472px;
  width: 37vw;
  height: 100vh;
  padding: 32px;
  background-color: #e17992;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
@media (max-width: 498px) {
  .menu-container {
    left: 0px;
    width: 100vw;
  }
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #ffffff;
}

.button__menu {
  color: #d41342;
  width: 209px;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 22px;
  border-color: transparent;
  transition: letter-spacing 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__menu:hover {
  background-color: #ecebeb;
}

.mobile__menu .link {
  display: block;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__menu .link:hover {
  color: #d41342;
}

.js-close-menu {
  fill: #ffffff;
}

.js-close-menu:hover {
  fill: #d41342;
}

.js-open-menu {
  fill: #ffffff;
  padding-left: 300px;
}

.js-open-menu:hover {
  color: #d41342;
}

@media (max-width: 498px) {
  .js-open-menu {
    padding-left: 196px;
  }
}/*# sourceMappingURL=index.css.map */