$primary-text-color: #000;
$secondary-text-color: #ffffff;
$tertiary-text-color: #907e82;
$quaternary-text-color: #ffa5ba;
$title-text-color: #d41443;
$title-secondary-text-color: #ffa5ba;
$accent-color: #d41342;
$hero-bg-color: #ffb8ca;
$primary-bg-color: #ffffff;
$secondary-bg-color: #fff5f6;
$icon-color: #ffffff;
$sm-icon-bg-color: #fea5bb;
$color-redes:#FEA5BB;