<section class="container section">
  <ul class="section-cards">
    <li class="section-coffe">
      <h2 class="title-cards-cafe">CAFE</h2>
      <h3 class="title-cards">Chicago</h3>
      <p class="descripcion-cards">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="linea"></div>
      <h3 class="title-cards">Monday-Friday</h3>
      <p class="hour-cards">06:00AM -10:00PM</p>
      <h3 class="title-cards">Saturday-Sunday</h3>
      <p class="hour-cards">08:00AM -10:00PM</p>
      <div class="linea"></div>
      <p class="contact-cards">+61(0) 383 766 284</p>
      <p class="contact-cards">noreply@envato.com</p>
    </li>
    <li class="section-foodtruck">
      <h2 class="title-cards-food">FOOD TRUCK</h2>
      <h3 class="title-cards">Los Angeles</h3>
      <p class="descripcion-cards">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="linea"></div>
      <h3 class="title-cards">Monday-Friday</h3>
      <p class="hour-cards">06:00AM -10:00PM</p>
      <h3 class="title-cards">Saturday-Sunday</h3>
      <p class="hour-cards">08:00AM -10:00PM</p>
      <div class="linea"></div>
      <p class="contact-cards">+61(0) 383 766 284</p>
      <p class="contact-cards">noreply@envato.com</p>
    </li>
    <li class="section-coffe2">
      <h2 class="title-cards-cafe">CAFE</h2>
      <h3 class="title-cards">New York</h3>
      <p class="descripcion-cards">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="linea"></div>
      <h3 class="title-cards">Monday-Friday</h3>
      <p class="hour-cards">06:00AM -10:00PM</p>
      <h3 class="title-cards">Saturday-Sunday</h3>
      <p class="hour-cards">08:00AM -10:00PM</p>
      <div class="linea"></div>
      <p class="contact-cards">+61(0) 383 766 284</p>
      <p class="contact-cards">noreply@envato.com</p>
    </li>

    <li>
      <p class="locations">Our Locations</p>
      <svg class="icon-house">
        <use></use>
      </svg>
      <p class="Franchise">Franchise</p>
    </li>
  </ul>
</section>
