<section class="section cards">
  <div class="container">
    <ul class="section-cards">
      <li class="section-cards--type">
        <h2 class="title-cards-cafe">CAFE</h2>
        <h3 class="title-cards">Chicago</h3>
        <p class="descripcion-cards">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="linea"></div>
        <h3 class="title-cards">Monday-Friday</h3>
        <p class="hour-cards">06:00AM -10:00PM</p>
        <h3 class="title-cards">Saturday-Sunday</h3>
        <p class="hour-cards">08:00AM -10:00PM</p>
        <div class="linea"></div>
        <a href="tel:+61(0)383766284" class="contact-cards">+61(0)383766284</a>
        <a href="mailto:noreply@envato.com" class="contact-cards"
          >noreply@envato.com</a
        >
      </li>
      <li class="section-cards--type">
        <h2 class="title-cards-food">FOOD TRUCK</h2>
        <h3 class="title-cards">Los Angeles</h3>
        <p class="descripcion-cards">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="linea"></div>
        <h3 class="title-cards">Monday-Friday</h3>
        <p class="hour-cards">06:00AM -10:00PM</p>
        <h3 class="title-cards">Saturday-Sunday</h3>
        <p class="hour-cards">08:00AM -10:00PM</p>
        <div class="linea"></div>
        <a href="tel:+61(0)383766284" class="contact-cards">+61(0)383766284</a>
        <a href="mailto:noreply@envato.com" class="contact-cards"
          >noreply@envato.com</a
        >
      </li>
      <li class="section-cards--type">
        <h2 class="title-cards-cafe">CAFE</h2>
        <h3 class="title-cards">New York</h3>
        <p class="descripcion-cards">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="linea"></div>
        <h3 class="title-cards">Monday-Friday</h3>
        <p class="hour-cards">06:00AM -10:00PM</p>
        <h3 class="title-cards">Saturday-Sunday</h3>
        <p class="hour-cards">08:00AM -10:00PM</p>
        <div class="linea"></div>
        <a href="tel:+61(0)383766284" class="contact-cards">+61(0)383766284</a>
        <a href="mailto:noreply@envato.com" class="contact-cards"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="button__card">
      <li>
        <button class="locations" type="button">Our Locations ></button>
      </li>
      <li>
        <button class="franchise" type="button">Franchise ></button>
      </li>
    </ul>
  </div>
</section>
