<footer>
  <h1 class="footer_title">HOMEMADE ICE CREAM MADE</h1>
  <h2 class="footer_title_2">WITH PASSION</h2>

  <ul class="redes">
    <li>
      <svg>
        <use href="./images/icons.svg#github"></use>
      </svg>
    </li>

    <li>
      <svg>
        <use href="./images/icons.svg#telegram"></use>
      </svg>
    </li>

    <li>
      <svg>
        <use href="./images/icons.svg#facebook"></use>
      </svg>
    </li>
  </ul>
  <ul class="contact">
    <li class="contact_us">Feel free to contact</li>
    <li class="contact_number">+61 (0) 383 766 284</li>
  </ul>

  <div class="line"></div>

  <ul class="rights">
    <li>©2022 - IceCream.</li>
    <li>All rights reserved</li>
  </ul>
</footer>
