<footer>
  <h1 class="footer_title">HOMEMADE ICE CREAM MADE</h1>
  <h2 class="footer_title_2">WITH PASSION</h2>

  <ul class="redes">
    <li class="redes_red">
      <svg width="5px" height="5px">
        <a
          href="https://www.github.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <use href="./images/icons.svg#github"></use>
        </a>
      </svg>
    </li>

    <li>
      <svg width="32px" height="32px">
        <a
          href="https://www.telegram.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <use href="./images/icons.svg#telegram"></use>
        </a>
      </svg>
    </li>

    <li>
      <svg width="32px" height="32px">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <use href="./images/icons.svg#facebook"></use>
        </a>
      </svg>
    </li>
  </ul>

  <ul class="contact">
    <li class="contact_us"><span>Feel free to contact</span></li>
    <a class="contact_number" href="tel:+14251234563">+1 (425) 123-45-63</a>
  </ul>

  <div class="line"></div>

  <ul class="rights">
    <li><span>©2022 - IceCream.</span></li>
    <li><span>All rights reserved</span></li>
  </ul>
</footer>
