<footer>
  <div class="container">
    <h2 class="footer_title">HOMEMADE ICE CREAM MADE</h2>
    <h2 class="footer_title_2">WITH PASSION</h2>

    <ul class="redes">
      <a
        href="https://www.github.com/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <li class="redes_red">
          <svg width="20px" height="20px">
            <use href="./images/icons.svg#github"></use>
          </svg>
        </li>
      </a>

      <a
        href="https://www.telegram.com/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <li class="redes_red">
          <svg width="20px" height="20px">
            <use href="./images/icons.svg#telegram"></use>
          </svg>
        </li>
      </a>

      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <li class="redes_red">
          <svg width="20px" height="20px">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </li>
      </a>
    </ul>

    <ul class="contact">
      <li class="contact_us"><span>Feel free to contact</span></li>
      <a class="contact_number" href="tel:+14251234563">+1 (425) 123-45-63</a>
    </ul>

    <div class="line"></div>

    <ul class="rights">
      <li><span>©2022 - IceCream.All rights reserved</span></li>
    </ul>
  </div>
</footer>
