<section class="section gallery">
    <div class="container">
        <div class="gallery__grid">
            <figure class="gallery__item gallery__item--1">

                <source srcset="
                ./images/desktop/gallery_1-desktop.png 1x,
                ./images/desktop/gallery_1-desktop@2x.png 2x
                " media="(min-width:1200px)" />
                <source srcset="
                ./images/tablet/gallery_1-tablet.png 1x,
                ./images/tablet/gallery_1-tablet@2x.png 2x
                " media="(min-width:768px)" />
                <source srcset="
                ./images/mobile/gallery_1-mobile.png 1x,
                ./images/mobile/gallery_1-mobile@2x.png 2x
                " media="(min-width:320px)" />

                <img src='./images/gallery-1.png' class="gallery__img" alt="Image 1">

            </figure>


            <figure class="gallery__item gallery__item--2">

                <source srcset="
                ./images/desktop/gallery_2-desktop.png 1x,
                ./images/desktop/gallery_2-desktop@2x.png 2x
                " media="(min-width:1200px)" />
                <source srcset="
                ./images/tablet/gallery_2-tablet.png 1x,
                ./images/tablet/gallery_2-tablet@2x.png 2x
                " media="(min-width:768px)" />
                <source srcset="
                ./images/mobile/gallery_2-mobile.png 1x,
                ./images/mobile/gallery_2-mobile@2x.png 2x
                " media="(min-width:320px)" />

                <img src='./images/gallery-2.png' class="gallery__img" alt="Image 2">

            </figure>


            <figure class="gallery__item gallery__item--3">

                <source srcset="
                ./images/desktop/gallery_3-desktop.png 1x,
                ./images/desktop/gallery_3-desktop@2x.png 2x
                " media="(min-width:1200px)" />
                <source srcset="
                ./images/tablet/gallery_3-tablet.png 1x,
                ./images/tablet/gallery_3-tablet@2x.png 2x
                " media="(min-width:768px)" />
                <source srcset="
                ./images/mobile/gallery_3-mobile.png 1x,
                ./images/mobile/gallery_3-mobile@2x.png 2x
                " media="(min-width:320px)" />

                <img src='./images/gallery-3.png' class="gallery__img" alt="Image 3">

            </figure>


            <figure class="gallery__item gallery__item--4">

                <source srcset="
                ./images/desktop/gallery_4-desktop.png 1x,
                ./images/desktop/gallery_4-desktop@2x.png 2x
                " media="(min-width:1200px)" />
                <source srcset="
                ./images/tablet/gallery_4-tablet.png 1x,
                ./images/tablet/gallery_4-tablet@2x.png 2x
                " media="(min-width:768px)" />
                <source srcset="
                ./images/mobile/gallery_4-mobile.png 1x,
                ./images/mobile/gallery_4-mobile@2x.png 2x
                " media="(min-width:320px)" />

                <img src='./images/gallery-4.png' class="gallery__img" alt="Image 4">

            </figure>


            <figure class="gallery__item gallery__item--5">

                <source srcset="
                ./images/desktop/gallery_5-desktop.png 1x,
                ./images/desktop/gallery_5-desktop@2x.png 2x
                " media="(min-width:1200px)" />
                <source srcset="
                ./images/tablet/gallery_5-tablet.png 1x,
                ./images/tablet/gallery_5-tablet@2x.png 2x
                " media="(min-width:768px)" />
                <source srcset="
                ./images/mobile/gallery_5-mobile.png 1x,
                ./images/mobile/gallery_5-mobile@2x.png 2x
                " media="(min-width:320px)" />

                <img src='./images/gallery-5.png' class="gallery__img" alt="Image 5">

            </figure>


            <figure class="gallery__item gallery__item--6">

                <source srcset="
                ./images/desktop/gallery_6-desktop.png 1x,
                ./images/desktop/gallery_6-desktop@2x.png 2x
                " media="(min-width:1200px)" />
                <source srcset="
                ./images/tablet/gallery_6-tablet.png 1x,
                ./images/tablet/gallery_6-tablet@2x.png 2x
                " media="(min-width:768px)" />
                <source srcset="
                ./images/mobile/gallery_6-mobile.png 1x,
                ./images/mobile/gallery_6-mobile@2x.png 2x
                " media="(min-width:320px)" />

                <img src='./images/gallery-6.png' class="gallery__img" alt="Image 6">

            </figure>


            <figure class="gallery__item gallery__item--7">

                <source srcset="
                ./images/desktop/gallery_7-desktop.png 1x,
                ./images/desktop/gallery_7-desktop@2x.png 2x
                " media="(min-width:1200px)" />
                <source srcset="
                ./images/tablet/gallery_7-tablet.png 1x,
                ./images/tablet/gallery_7-tablet@2x.png 2x
                " media="(min-width:768px)" />
                <source srcset="
                ./images/mobile/gallery_7-mobile.png 1x,
                ./images/mobile/gallery_7-mobile@2x.png 2x
                " media="(min-width:320px)" />

                <img src='./images/gallery-7.png' class="gallery__img" alt="Image 7">

            </figure>


            <figure class="gallery__item gallery__item--8">

                <source srcset="
                ./images/desktop/gallery_8-desktop.png 1x,
                ./images/desktop/gallery_8-desktop@2x.png 2x
                " media="(min-width:1200px)" />
                <source srcset="
                ./images/tablet/gallery_8-tablet.png 1x,
                ./images/tablet/gallery_8-tablet@2x.png 2x
                " media="(min-width:768px)" />
                <source srcset="
                ./images/mobile/gallery_8-mobile.png 1x,
                ./images/mobile/gallery_8-mobile@2x.png 2x
                " media="(min-width:320px)" />

                <img src='./images/gallery-8.png' class="gallery__img" alt="Image 8">

            </figure>


            <figure class="gallery__item gallery__item--9">

                <source srcset="
                ./images/desktop/gallery_9-desktop.png 1x,
                ./images/desktop/gallery_9-desktop@2x.png 2x
                " media="(min-width:1200px)" />
                <source srcset="
                ./images/tablet/gallery_9-tablet.png 1x,
                ./images/tablet/gallery_9-tablet@2x.png 2x
                " media="(min-width:768px)" />
                <source srcset="
                ./images/mobile/gallery_9-mobile.png 1x,
                ./images/mobile/gallery_9-mobile@2x.png 2x
                " media="(min-width:320px)" />

                <img src='./images/gallery-9.png' class="gallery__img" alt="Image 9">

            </figure>


            <figure class="gallery__item gallery__item--10">

                <source srcset="
                ./images/desktop/gallery_10-desktop.png 1x,
                ./images/desktop/gallery_10-desktop@2x.png 2x
                " media="(min-width:1200px)" />
                <source srcset="
                ./images/tablet/gallery_10-tablet.png 1x,
                ./images/tablet/gallery_10-tablet@2x.png 2x
                " media="(min-width:768px)" />
                <source srcset="
                ./images/mobile/gallery_10-mobile.png 1x,
                ./images/mobile/gallery_10-mobile@2x.png 2x
                " media="(min-width:320px)" />

                <img src='./images/gallery-10.png' class="gallery__img" alt="Image 10">

            </figure>
        </div>
    </div>
</section>