<header>
  <div class="header container">
    <section class="header__nav">
      <ul class="header__logo">
        <li class="header__logo--item">
          <svg width="199" height="50">
            <use
              href="./images/icons.svg#icecream-logo"
              class="header__menu--logo"
            ></use>
          </svg>
        </li>
      </ul>
      <ul class="header__menu">
        <li class="header__menu--item">
          <a href="#">Home</a>
        </li>
        <li class="header__menu--item">
          <a href="#">About us</a>
        </li>
        <li class="header__menu--item">
          <a href="#">How it’s made?</a>
        </li>
        <li class="header__menu--item">
          <a href="#">Our products</a>
        </li>
        <li class="header__menu--item">
          <a href="#">Contact</a>
        </li>
      </ul>
      <ul>
        <li class="header__button">
          <button class="header__menu--button">Buy now ></button>
        </li>
      </ul>
    </section>
    <section class="header__main">
      <div>
        <h1 class="header__tittle">
          ice cream made with <span class="header__tittle--pink">passion</span>
        </h1>
        <ul class="header__button">
          <li>
            <button class="header__tittle--button header__button--pink">
              Products
            </button>
          </li>
          <li>
            <button class="header__tittle--button header__button--gray">
              How it’s made?
            </button>
          </li>
        </ul>
        <p class="header__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod temporincididunt ut labore et
        </p>
      </div>
      <ul class="header__main__items">
        <li class="header__item">
          <h2 class="header__number">16</h2>
          <p class="header__span">cafes</p>
        </li>
        <li class="header__item">
          <h2 class="header__number">23</h2>
          <p class="header__span">food trucks</p>
        </li>
      </ul>
    </section>
    <ul class="header__generics">
      <li>
        <svg class="header__circle__pink" width="534" height="534">
          <use href="./images/header.svg#icon-circle-pink"></use>
        </svg>
      </li>
      <li>
        <svg class="header__circle__first" width="30" height="30">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li>
        <svg class="header__circle__second" width="30" height="30">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__cream"></li>
      <li class="header__milk"></li>
      <li class="header__woman"></li>
      <li class="header__arrow"></li>
    </ul>
    <ul class="header__circles">
      <li class="header__circle">
        <svg class="header__circle__one" width="160" height="160">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__two" width="80" height="80">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__three" width="140" height="140">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__four" width="80" height="80">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__five" width="120" height="120">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__six" width="180" height="180">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__seven" width="140" height="140">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__eight" width="100" height="100">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__nine" width="140" height="140">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__ten" width="100" height="100">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__eleven" width="140" height="140">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__twelve" width="100" height="100">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__thirteen" width="140" height="140">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__fourteen" width="160" height="160">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__fifteen" width="180" height="180">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
      <li class="header__circle">
        <svg class="header__circle__sixteen" width="140" height="140">
          <use href="./images/header.svg#icon-circle-white"></use>
        </svg>
      </li>
    </ul>
  </div>
</header>
