<header>
  <div class="container">
    <a></a>
    <ul>
      <li>
        <a>Home</a>
      </li>
      <li>
        <a>About us</a>
      </li>
      <li>
        <a>How it’s made?</a>
      </li>
      <li>
        <a>Our products</a>
      </li>
      <li>
        <a>Contact</a>
      </li>
    </ul>
    <ul>
      <li>
        <button>Buy now ></button>
      </li>
    </ul>
    <h1>ice cream made with passion</h1>
    <button>Products</button>
    <button>How it’s made?</button>
  </div>
</header>
