<section class="section">
    <div class="container">
        <div class="review">
            <div class="review__mask"></div>
            <ul class="review__list">
                <li class="review__item">
                    <img src='./images/review-1.jpg' class="review__photo">
                    <div class="review__text-box">
                        <p class="review__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla
                            quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="review__person">Emily, Los Angeles</span>
                </li>

                <li class="review__item">
                    <img src='./images/review-2.jpg' class="review__photo">
                    <div class="review__text-box">
                        <p class="review__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla
                            quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="review__person">Norah, Miami</span>
                </li>

                <li class="review__item">
                    <img src='./images/review-3.jpg' class="review__photo">
                    <div class="review__text-box">
                        <p class="review__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla
                            quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="review__person">Candace, New York</span>
                </li>

                <li class="review__item">
                    <img src='./images/review-1.jpg' class="review__photo">
                    <div class="review__text-box">
                        <p class="review__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla
                            quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="review__person">Emily, Los Angeles</span>
                </li>

            </ul>
        </div>
    </div>
</section>