<section class="section">
  <div class="container">
    <h2 class="title">100% NATURAL</h2>
    <h2 class="titleproducts">PRODUCTS</h2>
    <li class="img-products">
      <picture>
        <source
          media="(min-width:1200px )"
          srcset="
            ./images/conofresadeskop.png  1x,
            ./images/conofresadekopx2.png 2x
          "
        />
        <source
          media="(min-width:768px )"
          srcset="
            ./images/conofresatablet.png   1x,
            ./images/conofresatabletx2.png 2x
          "
        />
        <source
          media="(min-width:480px )"
          srcset="./images/conofresacel.png 1x, ./images/conofresacelx2.png 2x"
        />
        <img
          class="img-seccion1"
          src="./images/conoheladofresa.png"
          alt="Helado en Cono sabor a Fresa"
        />
      </picture>
      <picture>
        <source
          media="(min-width:1200px )"
          srcset="
            ./images/cafeheladodeskop.png 1x,
            ./images/conofresadekopx2.png 2x
          "
        />
        <source
          media="(min-width:768px )"
          srcset="
            ./images/cafeheladotablet.png  1x,
            ./images/conofresatabletx2.png 2x
          "
        />
        <source
          media="(min-width:480px )"
          srcset="
            ./images/cafeheladocel.png   1x,
            ./images/cafeheladocelx2.png 2x
          "
        />
        <img
          class="img-seccion1 img-cel-coffe"
          src="./images/cafehelado.png"
          alt="Copa de Coffe Helado"
        />
      </picture>
      <picture>
        <source
          media="(min-width:1200px )"
          srcset="
            ./images/batidochocolatedeskop.png   1x,
            ./images/batidochocolatedeskopx2.png 2x
          "
        />
        <source
          media="(min-width:768px )"
          srcset="
            ./images/batidochocolatetablet.png   1x,
            ./images/batidochocolatetabletx2.png 2x
          "
        />
        <source
          media="(min-width:480px )"
          srcset="
            ./images/batidochocolatecel.png   1x,
            ./images/batidochocolatecelx2.png 2x
          "
        />
        <img
          class="img-seccion1 img-cel-milkshake"
          src="./images/batidochocolate.png"
          alt="Batido Sabor a Chocolate"
        />
      </picture>
    </li>
    <ul class="products">
      <li class="section-ice-cream zoom">
        <h2 class="title-section">ICE CREAM</h2>
        <svg class="icon-small-points">
          <use href="./images/icons.svg#small-points"></use>
        </svg>
        <p class="desc-products">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="circle-point" width=" 50" height=" 50">
          <use href="./images/icons.svg#points"></use>
        </svg>
        <svg class="icon-point" width=" 18.21" height=" 20" ;>
          <use href="./images/icons.svg#right-arrow"></use>
        </svg>
      </li>

      <li class="section-ice-coffe zoom">
        <h2 class="title-section">ICE COFFE</h2>
        <svg class="icon-small-points">
          <use href="./images/icons.svg#small-points"></use>
        </svg>
        <p class="desc-products">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="circle-point" width=" 50" height=" 50">
          <use href="./images/icons.svg#points"></use>
        </svg>
        <svg class="icon-point" width=" 18.21" height=" 20">
          <use href="./images/icons.svg#right-arrow"></use>
        </svg>
      </li>

      <li class="section-milkshakes zoom">
        <h2 class="title-section">MILKSHAKES</h2>
        <svg class="icon-small-points">
          <use href="./images/icons.svg#small-points"></use>
        </svg>
        <p class="desc-products">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="circle-point" width=" 50" height=" 50">
          <use href="./images/icons.svg#points"></use>
        </svg>
        <svg class="icon-point" width=" 18.21" height=" 20">
          <use href="./images/icons.svg#right-arrow"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
