<section class="section">
  <div class="container">
    <h2 class="title">100% NATURAL</h2>
    <h2 class="titleproducts">PRODUCTS</h2>
    <li class="img-products">
      <img
        class="img-seccion1"
        src="./images/conoheladofresa.png"
        alt="Helado en Cono sabor a Fresa"
      />
      <img
        class="img-seccion1 img-cel-coffe"
        src="./images/cafehelado.png"
        alt="Copa de Coffe Helado"
      />
      <img
        class="img-seccion1 img-cel-milkshake"
        src="./images/batidochocolate.png"
        alt="Batido Sabor a Chocolate"
      />
    </li>
    <ul class="products">
      <li class="section-ice-cream zoom">
        <h2 class="title-section">ICE CREAM</h2>
        <svg class="icon-small-points">
          <use href="./images/icons.svg#small-points"></use>
        </svg>
        <p class="desc-products">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="circle-point" width=" 50" height=" 50">
          <use href="./images/icons.svg#points"></use>
        </svg>
        <svg class="icon-point" width=" 18.21" height=" 20" ;>
          <use href="./images/icons.svg#right-arrow"></use>
        </svg>
      </li>

      <li class="section-ice-coffe zoom">
        <h2 class="title-section">ICE COFFE</h2>
        <svg class="icon-small-points">
          <use href="./images/icons.svg#small-points"></use>
        </svg>
        <p class="desc-products">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="circle-point" width=" 50" height=" 50">
          <use href="./images/icons.svg#points"></use>
        </svg>
        <svg class="icon-point" width=" 18.21" height=" 20">
          <use href="./images/icons.svg#right-arrow"></use>
        </svg>
      </li>

      <li class="section-milkshakes zoom">
        <h2 class="title-section">MILKSHAKES</h2>
        <svg class="icon-small-points">
          <use href="./images/icons.svg#small-points"></use>
        </svg>
        <p class="desc-products">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg class="circle-point" width=" 50" height=" 50">
          <use href="./images/icons.svg#points"></use>
        </svg>
        <svg class="icon-point" width=" 18.21" height=" 20">
          <use href="./images/icons.svg#right-arrow"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
