


<section class="tradition section">
  <div class="tradition__contenido container ">

    <h3 class="tradition__subtitle">TRADITION AND LOVE</h3>
    <h2 class="tradition__title">HOW IT'S MADE?</h2>
    <div class="tradition__content">
      
      <img class="tradition__img" src="./images/home-pic4.png" alt="imagen"> 

      <div class="tradition__text">
        <p class="tradition__text-one">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
          Nam vel justo cursus, faucibus lorem eget, egestas eros.
          Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="tradition__text-two">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio
          elementum. Mauris rhoncus orci in imperdiet placerat.
          Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
          <span class="text-three">Aliquam erat volutpat. Aenean accumsan.</span>
        </p>
        
        <a class="tradition__button" href="">Read more ></a>
      </div>
    </div>
  </div>

  
  <div class="numbers">  
    <div class="numbers__cards">
      <div class="numbers__card">
        <img class="numbers__img" src="./images/icon-1.svg" alt="icon 1">
        <h2 class="numbers__number">721</h2>
        <p class="numbers__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>

      <div class="numbers__card">
        <img class="numbers__img img-2" src="./images/icon-2.svg" alt="icon 1">
        <h2 class="numbers__number">16kg</h2>
        <p class="numbers__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>

      <div class="numbers__card">
        <img class="numbers__img img-3" src="./images/icon-3.svg" alt="icon 1">
        <h2 class="numbers__number">84</h2>
        <p class="numbers__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
    </div>
  </div>
</div>

</section>

